/*
0 - 37.5em -> 0 - 600px:      Phone
37.5em - 56.25em -> 600 -900px:     Table Portrait
56.25em - 75em -> 900 - 1200px:   Table Landscape

[1200 - 1800] is where normal styles apply
1800px + :      Big Desktop

1em = 16px 
Note: em is the one that works well in media queries
*/

:root {
    
--color-primary-light: rgba(202,233,255,1);
--color-primary-medium: rgba(98,144,195,1);
--color-primary-dark:rgba(5,74,145, 1);

--font:rgba(238, 234, 234, 1);
}


@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-6.25rem);
    }

    80% {
        transform: translateX(.0625rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }

}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(.0625rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }

}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(1.875rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }

}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}


html {
      font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.7;
    color: white;
    padding: 1.875rem;
    box-sizing: border-box;
}


/* Main Page Header */
#header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(5,74,145, 0.8),rgba(202,233,255, 0.8)), url(./img/glaizaW-pic.png);
    background-size: cover;

    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); /*(x y, x y, x y, x y) */

}

.header__logo-box {
    position: absolute;
    top: 2rem;
    left: 3rem;
}

.header__logo {
    height: 10rem;
    width: 10rem;
    
}

.header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;

    backface-visibility: hidden; /*for animation not to be shaky*/
    margin-bottom: 1rem; /*white space*/
    text-align: center;
}

.heading-primary--main {
    display: block;
    font-size: 5rem;
    font-weight: 900;
    letter-spacing: .75rem;

    animation: moveInLeft 1s ease-out;
}

.heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1rem;
    animation: moveInRight 1s ease-out;
}


.btn:link,
.btn:visited {
 text-transform: uppercase;
 text-decoration: none;
 padding: 1rem 2.5rem;
 display: inline-block;

 border-radius: 1.25rem;
 transition: all .2s;

 position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 .626rem 1.25rem rgba(0,0,0,0.2);
}

.btn:active {
    transform: translateY(1px);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}


.btn--white {
    background-color: #fff;
    color: var(--color-primary-dark);
    padding: .5rem 1rem;
    margin-top: 2rem;;
    display: inline-block;
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    transition: all .4s;
}

.btn--white::after {
    background-color: white;
}


.btn--white:hover::after {
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0;
}

.btn--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}

/* For Navigation */
.navigation__checkbox {
    display: none;
}
  
.navigation__button {
    background-color: #fff;
    height: 6rem;
    width: 6rem;
    position: fixed;
    top: 7rem;
    right: 7rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer; 
}
  
.navigation__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 7rem;
    right: 7rem;
    background-image: radial-gradient(var(--color-primary-light), var(--color-primary-dark));
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); 
}
    
  
.navigation__nav { 
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); 
} 
  
.navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%; 
   
}
  
.navigation__item {
    margin: 1rem; 
    overflow: hidden;
}
  
.navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 220%;
    transition: all .2s; 
}

.navigation__link:link span, .navigation__link:visited span {
      margin-right: 1.5rem;
      display: inline-block;
}
  
.navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: var(--color-primary-dark);
    transform: translateX(1rem); 
    font-weight: 400;
}
  
.navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80); 
}
  
.navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%; 
}
  
.navigation__icon {
    position: relative;
    margin-top: 3rem; 
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; 
}
.navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; 
}
.navigation__icon::before {
      top: -.8rem;
}
.navigation__icon::after {
    top: .8rem; 
}
  
.navigation__button:hover .navigation__icon::before {
    top: -1rem; 
}
  
.navigation__button:hover .navigation__icon::after {
    top: 1rem; 
}
  
.navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; 
}
  
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); 
}
  
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); 
}

.navigation__contact {
    display: inline;
    padding-top: 2rem;
    margin: 0 2rem;
    font-size: 3rem;

}

.copyright {
    color: rgba(0,0,102,1);
    font-size: 1.3rem;
    font-weight: 600;
}
/* About Me Section */

#section-about {
    background-color: #f7f7f7;
    font-weight: 400;
    padding: 25rem 0;
    margin-top: -22vh; 
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, var(--color-primary-dark), rgba(202,233,255,1));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all .2s; 
}


.heading-secondary:hover {
      transform: skewY(2deg) skewX(15deg) scale(1.1);
      text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); 
}



.paragraph, .about-interest ,.project-box__text {
    font-family: "Lato", sans-serif;
    font-size: 1.6rem; 
    text-align: justify;
    text-justify: inter-word;
    color: black;
} 


.project-box__text {
    padding: 1rem 1rem;
}

.paragraph:not(:last-child) {
    margin-bottom: 3rem; 
}
      
.u-center-text {
    text-align: center !important; 
}

.row {
    max-width: 100%;
    margin: 0 20rem; 
}


.row::after {
  content: "";
  display: table;
  clear: both; 
}

.row [class^="col-"] {
  float: left; 
}

.row [class^="col-"]:not(:last-child) {
    margin-right: 1rem; 
}

.about-interest {
    list-style: none;
}

.heading-tertiary {
    font-weight: 700;
    text-transform: uppercase; 
    color: rgba(5,74,145, 0.8);
    font-size: 2rem;
}


.u-margin-bottom-small {
    margin-bottom: 1.5rem !important; 
}

.about-interest > li > i {
    font-size: 2rem;
    margin-right: 1.5rem;
    color: var(--color-primary-dark);
}


#section-projects {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, rgba(202,233,255, 0.8),rgba(5,74,145, 0.8)), url(./img/projects.jpg);
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -10rem; 
}

#section-projects > * {
    transform: skewY(7deg); 
}

/* .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); } */


.project-box {
    background-color: rgba(238, 234, 234, 1);
    font-size: 1rem;
    padding: 1rem 1rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    transition: transform .3s; 
    width: 50rem;
    height: 50rem;
    margin-right: 5rem;
}
   

.row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); } 


.project-box:hover {
    transform: translateY(-1.5rem) scale(1.03); 
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem !important; 
}

.project__logo {
    height: 20rem;
    width: auto;
}

.projects-tech{
    color: rgba(0,0,102,1);
    margin: 1rem 2rem;
    font-size: 1.3rem;
    letter-spacing: .3rem;
}

.btn--blue{
    background-color:var(--color-primary-medium);
    color: white;
    padding: 0;
    margin-top: 2rem;;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    padding: 0;
    /* margin: 0; */
}

.btn--blue::after {
    background-color: var(--color-primary-medium);
}


.btn--blue:hover::after {
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0;
}


.heading-projects {
    text-transform: uppercase;
    letter-spacing: .75rem;
    padding: 0 2rem;
    margin-bottom: 2rem;
    font-family: "Lato", sans-serif;
    font-size: 5rem;
    font-weight: 600;
    
}

@media only screen and (min-width: 56.25em) and (max-width: 75em) {
    html {
      font-size: 56.25%; 
    } 
    body {
        font-size: 56.25%; 
    } 
    .paragraph, .about-interest ,.project-box__text {
        font-size: 2.5rem; 
    } 
    .projects-tech{
        margin: .3rem 1rem;
    }
    .row {
        max-width: 100%;
        margin: 0 10rem; 
    }
}
  
@media only screen and (min-width: 37.5em) and (max-width: 56.25em) {
    html {
      font-size: 50%; 
    } 

    .heading-secondary {
      font-size: 4rem; 
    } 

    .heading-primary--sub {
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .8rem;
    }

    .project-box {
      font-size: .5rem;
       padding: .5rem .5rem;
	   width: 35rem;
       height: 40rem;
       margin-right: 1rem;
    }

    .project__logo {
        height: 15rem;
        width: auto;
    }
    .paragraph, .about-interest ,.project-box__text {
        font-size: 2rem; 
    } 

    .projects-tech{
        margin: .3rem 1rem;
    }
}


@media only screen and (min-width: 20em) and (max-width: 37.5em) {
    .heading-primary {
      font-size: 50%; 
    } 
    .heading-primary--main {
        letter-spacing: .5rem;
        font-size: 3rem; 
    }
 	.heading-primary--sub {
        font-size: 1.5rem;
        font-weight: 600;
        letter-spacing: .1rem; 
    } 

    .heading-secondary {
      font-size: 4rem; 
    }
    
    #section-projects {
        padding: 10 0;
        margin-top: -5rem; 
        padding: 15rem 0;
        margin-top: -6rem; 
    }
 
    .project-box {
        font-size: .5rem;
        padding: .5rem .5rem;
        width: 25rem;
        height: 35rem;
        margin: 0 0;
      }
  
      .project__logo {
          height: 10rem;
          width: auto;
      }
      .paragraph, .about-interest ,.project-box__text {
          font-size: 1.5rem; 
      } 
  
      .projects-tech{
          margin: .3rem 1rem;
      } 

      .btn--blue{
        padding: 0;
        margin-top: 1.5rem;;
        font-size: .8rem;
        font-weight: 600;
        padding: 0;
    }

    .row {
        max-width: 120rem;
        margin: 1rem 4rem; 
        padding: 0;
    }

    #section-about {
        font-weight: 400;
        padding: 13rem 0;
        margin-top: -20vh; 

    }
      
}



@media only screen and (min-width: 112.15em) {
    html {
      font-size: 75%; 
    } 
}

 

